*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #BDDDFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    background-color: #A7C8E7;
}
.alat{
    margin: auto;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.nilaiP{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
    width: 15%;
    font-size: 25px;
}
.salahP{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
    width: 15%;
    font-size: 25px;
}
.IPP{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
    width: 15%;
    font-size: 25px;
}
.grid{
    margin-top: 80px;
}
.text .alat1{
    margin:auto;
    width: 80%;
    height: 42px;
    border-radius: 20px;
    overflow:hidden;
    background-color: white;
    padding: 10px;
    /* overflow-y: auto; */
}
.isi{
    /* background-color: aqua; */
}
.isi span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-left: 10px;
    display: inline-block;
}
.gabungan{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    overflow: auto;
    /* position: absolute; */
}
.input{
    border-radius: 20px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
}
.ketik{
    padding: 2px;
    background-color: black;
    border-radius: 20px;
}
.btn{
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
}
.alat2 input{
    outline: none;
    border: none;
    padding: 5px;
    margin-left: 10px;
    width: 500px;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    margin-top: 300px;
    margin: auto;
    text-align: center;
}
.panduan{
    line-height: 30px;
    padding: 40px;
}
/* .correct{
    color: green;
}
.wrong{
    color: red;
} */
.material-icons{
    color: white
}
.ipmax{
    display: flex;
    width: 18%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom:20px;
}
.ipmax .label_input{
    margin: auto;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
}